.introWraper {
  margin: 0 auto;
  width: 80%;
  height: auto;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgContainer {
  position: relative;
  width: 80%;
  height: auto;
  max-height: 100%;
}

.img {
  margin: 0 auto;
  border-radius: 24px;
  width: 60%;
  height: auto;
  display: block;
  filter: drop-shadow(0px 0px 6px #5727b3);
  opacity: 0;
  animation: fadeIn 2.5s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
h2 {
  font-family: "Tangerine", cursive;
  font-size: 10vh;
  color: #ffd400;

  animation: glowing 2s infinite;
}
@keyframes glowing {
  0% {
    text-shadow: 0px 0px 0px rgba(163, 139, 0, 0.6);
  }
  50% {
    text-shadow: 0px 0px 8px rgba(163, 139, 0, 0.6);
  }
  100% {
    text-shadow: 0px 0px 0px rgba(163, 139, 0, 0.6);
  }
}
p {
  width: 60%;
  text-align: justify;
  animation: floating 5s infinite;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 2px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
@media screen and (max-width: 800px) {
  .imgContainer {
    width: 120%;
  }

  .img {
    margin: 10% auto;
  }
  h2 {
    font-size: 6vh;
  }
}
@media screen and (max-width: 600px) {
  .imgContainer {
    margin-top: 4vh;
  }
  .img {
    width: 100%;
  }
  p {
    width: 100%;
  }
}
