p {
  margin: 0 auto;
}
.menu {
  padding: 0% 20%;
  list-style: none;
  font-size: 8vh;
  display: flex;
  justify-content: space-between;
  font-family: Tangerine, cursive;
}
.componentsImages {
  width: 20%;
}
.listSingle {
  width: 80%;
  text-align: center;
}
.listSingle:hover {
  transition: 0.5s;
  font-size: 10vh;
  cursor: pointer;
}
.imageGallery {
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vh;
}
.imageContainer {
  display: flex;
  align-items: center;
  flex-flow: column;
}
.componentsImages {
  width: 40%;
  height: auto;
  margin: 10px;
  transition: 0.5s;
}
.componentsImages:hover {
  width: 60%;
  filter: drop-shadow(0px 0px 4px #9f5bff);
  animation: purpleGlow infinite 2s;
  text-align: center;
  cursor: pointer;
}
.itemCode {
  text-align: center;
  font-size: 3vh;
  transition: 0.5s;
}
.itemCode:hover {
  font-size: 5vh;
  animation: purpleGlow infinite 2s;
}
.imageContainer:hover .componentsImages,
.imageContainer:hover h3 {
  filter: drop-shadow(0px 0px 4px #9f5bff);
  animation: purpleGlow infinite 2s;
  font-size: 5vh;
  width: 60%;
}
.imageGallery {
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vh;
}
.componentsImages {
  width: 40%;
  height: auto;
  margin: 10px;
  transition: 0.5s;
}

@keyframes purpleGlow {
  0% {
    filter: drop-shadow(0px 0px 4px #9f5bff);
  }
  50% {
    filter: drop-shadow(0px 0px 4px #ffd400);
  }
  100% {
    filter: drop-shadow(0px 0px 4px #9f5bff);
  }
}
@media screen and (max-width: 800px) {
  p {
    width: 80%;

    padding-bottom: 10%;
  }
  .menu {
    margin: 0 auto;
    width: 50%;
    padding: 15% 20%;
    font-size: 4vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .componentsImages {
    width: 100%;
  }
  .listSingle {
    width: 70%;
  }
  .listSingle:hover {
    transition: 0.5s;
    font-size: 5vh;
    cursor: pointer;
  }

  .imageContainer:hover .componentsImages,
  .imageContainer:hover h3 {
    filter: drop-shadow(0px 0px 4px #9f5bff);
    animation: purpleGlow infinite 2s;
    font-size: 5vh;
    width: 100%;
  }
  .imageGallery {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2vh;
  }
  .componentsImages {
    width: 40%;
    height: auto;
    margin: 10px;
    transition: 0.5s;
  }
}
