.ChooseItem {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.ChooseItem > p {
  text-align: center;
}
.selectedWraper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
}
.itemSingle {
  width: 40%;
  border: 1px solid red;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.categoryTitle {
  font-family: "Tangerine", cursive;
  font-size: 5vh;
  color: #ffd400;
  text-align: center;
}
.codeTitle {
  font-size: 5vh;
  text-align: center;
}
.menu {
  display: grid;
}
.btnMenu {
  width: 30%;
  padding: 1%;
  margin: 0.5% auto;
  border: unset;
  border-radius: 2vh;
  background: linear-gradient(90deg, rgb(146, 0, 138) 0%, rgb(45, 0, 129) 100%);
}
