.btnLink {
  width: 28vh;
  height: auto;
  margin: 2%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
  align-self: center;
  font-size: 13px;
}
.buttonIcon {
  padding: 4%;
}
.btnLink:hover {
  width: 33vh;
}
.btnTxt {
  text-decoration: none;
  color: white;
}
