.videoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding-bottom: 4%;
}

.videoWrapper {
  position: relative;
  margin: 0 auto;
  padding-bottom: 2%;
  width: 100%;
  max-width: 800px;
}

.video {
  position: relative;
  top: 0;
  left: 25%;
  width: 50%;
  transform: translate(-50% -50%);
  box-shadow: 0 0 4cqi #592b99;
  animation: glow infinite 2s;
}
@keyframes glow {
  0% {
    box-shadow: 0 0 40px #592b99;
  }
  50% {
    box-shadow: 0 0 60px #322147;
  }
  100% {
    box-shadow: 0 0 40px #592b99;
  }
}

@media screen and (max-width: 800px) {
  .video {
    width: 80%;
    left: 50%;
    transform: translatex(-50%);
  }
}
