.colorSelectContainer {
  display: grid;
  gap: 2vh;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px ridge #ffd700;
}
.title {
  text-align: center;
}
.colorPickerContainer {
  border-right: 1px ridge #ffd700;
  padding: 2%;
}

.selectColorsWrap {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
}

.colorBox {
  border: 1px ridge #ffd700;
  box-shadow: 0 0 1px 1px #ffffff;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 2vh;
  padding: 2%;
}

.selectedColorsContainer {
  width: 100%;
}

.selectedColorsWrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  gap: 10px;
}
.selectedColor {
  text-align: center;
}
.selectedColorBox {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

.removeIcon {
  margin-right: 5px;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .colorSelectContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .colorBox {
    width: 30px;
    height: 30px;
  }
  .colorPickerContainer {
    border-right: unset;
  }
}
